html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
  }
  header {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: #361be7fd;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    width: 86rem;
    height: 4rem;
    z-index: 1;
  }
  .hub {
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: 4rem;
  }
  
  .hub span:nth-child(2) {
    background: #FF9900;
    color: #000000;
    border-radius: 0.2rem;
    padding:  0.5vw 0.5vw 0.5vw;
    display: inline-block;
    width: 3rem;
  }
  
  .profile {
    display: flex;
    align-items: center;
    margin-left: 4rem;
  }
  
  .profile img {
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .save{
    margin-left:10rem ;
    
  
  }
  .chat{
    margin-left:-5rem ;
  
  }
  .logout{
   
  margin-left: -5rem;
  
  }
  /* CSS */
  .button-24 {
    background: #FF9900;
    border: 1px solid #FF9900;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 750;
    line-height: 8px;
    min-height: 30px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF9900;
  }
  
  .button-24:active {
    opacity: .5;
  }
  
  label{
    display:flex;
     flex-direction:column;
     width:40px;
     cursor:pointer;
     height: 3rem;
     margin-right: 4rem;
   }
   
   label span{
     background: #fff;
     border-radius:5px;
     height:5px;
     margin: 7px 0;
     transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
   }
   
   
   span:nth-of-type(1){
     width:70%;
     
   }
   
   span:nth-of-type(2){
     width:100%;
   }
   
   
   span:nth-of-type(3){
     width:75%;
    
   }
   
   
   input[type="checkbox"]{
     display:none;
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(1){
     transform-origin:bottom;
     transform:rotatez(45deg) translate(8px,0px)
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(2){
     
     transform-origin:top;
     transform:rotatez(-45deg)
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(3){
     
     transform-origin:bottom;
     width:50%;
     transform: translate(30px,-11px) rotatez(45deg);
   
   }
  
  body {
    display: flex;
    align-items: center;
  }
  body .container {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  h1, h2, p, button {
    font-family: "Montserrat", cursive;
    font-weight: 100;
  }
  
  p, button {
    font-weight: 300;
  }
  
  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 45px;
  }
  
  h1, h2 {
    text-align: center;
    color: #666666;
    margin: 0 0 30px 0;
  }
  
  p {
    color: #666666;
    line-height: 1.5;
  }
  
  button {
    background: #9AD3DE;
    border: 0;
    border-radius: 4px;
    padding: 15px 30px;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
  }
  button:focus {
    outline: none;
  }
  button:hover {
    background: #c0e4eb;
  }
  
  .popup {
    background: rgba(100, 100, 100, 0.6);
    position: fixed;
    display: none;
    z-index: 9999;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  .popup .wrapper {
    max-width: 600px;
    width: 70%;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
  }